body {
  font-family: 'Monserrat', sans-serif;
  background-color: #E5E5E5; 
  padding: 40px 40px 40px 40px; 
}

.wraper {
display: flex;
flex-direction: row-reverse;
background: #fff;
width: 1200px;
margin: 0 auto;
padding: 40px 40px 40px 40px; 
}
/* Main content */
.side-bar {
    padding: 40px 40px 40px 40px;
    background: #E5E5E5;
}
.main-content {
    padding: 88px 88px 88px 88px; 
    box-sizing: border-box;
}



